<div class="divHead">
    <h1>About Us</h1>
</div>
<div>
    <div class="divus">
        <br>
        <img src="assets/shir.jpg" class= "storyimg">
        <br>
        <h3>Shir Klozner</h3>
        <h3>CEO</h3>
        About shir klozner
        <br>
    </div>
    <div class="divus">
        <br>
        <img src="assets/adi.jpg" class= "storyimg" style="width: 76%;">
        <br>
        <h3>Adi Morag</h3>
        <h3>Product Manager</h3>
        About adi
        <br>
    </div>
    <div class="divus">
        <br>
        <img src="assets/the continent.jpg" class= "storyimg">
        <br>
        <h3>The 7th Continent</h3>
         <br>
        Launched in September 2017, this cooperative game of adventure, exploration, and survival took Kickstarter by storm, with 43,733 buckers pledging $7.1 million to help bring this project to life. The reasons for its success? Great backer rewards, exciting product descriptions, and strong visuals that highlighted different aspects of the game, all of which came together to create another top Kickstarter project.
        <br>
    </div>
    <div class="divus">
        <br>
        <img src="assets/the continent.jpg" class= "storyimg">
        <br>
        <h3>The 7th Continent</h3>
         <br>
        Launched in September 2017, this cooperative game of adventure, exploration, and survival took Kickstarter by storm, with 43,733 buckers pledging $7.1 million to help bring this project to life. The reasons for its success? Great backer rewards, exciting product descriptions, and strong visuals that highlighted different aspects of the game, all of which came together to create another top Kickstarter project.
        <br>
    </div>
</div>