<form #inputForm = "ngForm" class="inputForm">
<h1>Test your project</h1>
  <mat-form-field appearance="fill" >
        <mat-label>Project name</mat-label>
        <input matInput placeholder="Ex project" [(ngModel)] = selectedName name = selectedName required >
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Main category</mat-label>
    <select required matNativeControl [(ngModel)]="selectedmainCategory" name="mainCategory" (change)=updateSubCategory(selectedmainCategory)>
      <option *ngFor="let mainCategory of mainCategory" [value]="mainCategory.value">
        {{mainCategory.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Sub category</mat-label>
    <select required matNativeControl [(ngModel)]="selectSubcategory" name="selectSubcategory">
      <option *ngFor="let subcategory of subCategory" [value]="subcategory.value">
        {{subcategory.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Currency</mat-label>
    <select required matNativeControl [(ngModel)]=selectedCurrency name="selectedCurrency">
      <option *ngFor="let currency of currency" [value]="currency.value">
        {{currency.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Country</mat-label>
    <select required matNativeControl [(ngModel)]="selectedCountry" name="selectedCountry">
      <option *ngFor="let country of country" [value]="country.value">
        {{country.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration (Days)</mat-label>
    <input required [(ngModel)] = selectedDuration name = selectedDuration matInput type="number" placeholder="min:12 max:92"  min="12" max="92">
    <span matSuffix>d</span>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Goal ($)</mat-label>
    <input required [(ngModel)] = selectedAmount name = selectedAmount matInput type="number" placeholder="USD. 12"  min="100" max="1000000">
    <span matSuffix>$</span>
  </mat-form-field>
  <br>
   <button [disabled] = "!inputForm.form.valid" (click)="classify()" (click)="saveProject = true"  (click)="saveSucceed = false" type="submit" mat-raised-button color="primary">Check your project</button>
    <button mat-stroked-button color="primary" [disabled] = "!saveProject" (click)="ngAfterViewInit()" style="margin-left: 10px;">Check other option</button>
   <br>
   <br>
  <p style="font-size: x-large;"> 
      Chance of success of the project: {{result}} %
  <p *ngIf = "isgood" style="font-size: large; color: green">
    Good job! Your chance is high!
  <p>
  <p *ngIf = "isok" style="font-size: large; color: orange">
    Your project is ok, but we suggest you to look for other options.
  <p>
  <p *ngIf = "isbad" style="font-size: large; color: red">
    Your job can be better! Try something else.
  <p>
  </p>
   <button [disabled] = "!saveProject"  (click)="addProject()" (click)="saveSucceed = true" (click)="saveProject = false" type="submit" mat-raised-button color="primary">Save The Project</button>
   <br>
   <p *ngIf = "saveSucceed" style="font-size: x-large; color: rgb(47, 199, 60);">
     The save was successful
   </p>
</form>
<div class="chart">
  <h1>Prediction graph based on project duration</h1>
  <br>
  <div style="text-align: left;">
   Project success(%) 
   </div>
   <canvas id="myChart" width="600" style="padding-left: 3%;" height="250" #mychart></canvas>
   Duration (days)
</div>

