<mat-toolbar color="primary" class="navbar">
  <div>
      <img [src] = "slogo" alt="" style="height: 60px; width: 70px; ">
  </div>
  <div>
      <span class="fill"></span>
      <button mat-button  routerLink="/home" routerLinkActive="active" color="white">Home</button>
      <button mat-button  routerLink="/aboutus" routerLinkActive="active" color="white">About Us</button>
      <button mat-button  routerLink="/model" routerLinkActive="active" color="white" *ngIf = "(authService.getUser())|async">Model</button>
  </div>
  <div style="margin-left: 70%;">
      <button mat-button routerLink="/login" routerLinkActive="active" color="white" *ngIf = "!((authService.getUser())|async)">Login</button>
      <button mat-button routerLink="/singup" routerLinkActive="active" color="white" *ngIf = "!((authService.getUser())|async)">SingUp</button>
      <button mat-button routerLink="/home" color="white" (click) = "authService.logout()" *ngIf = "(authService.getUser())|async">Logout</button>
      <a routerLink="/profile"><img src="assets/userimg.png" style="width: 40px;height: 40px;float: right;"  *ngIf = "(authService.getUser())|async"></a>
  </div>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
