<!-- asaf -->
<br>
<br>
<h1>Your Project List</h1>
<div class="list">
<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor ="let project of projects$ | async"
                       >
    <mat-expansion-panel-header style="background-color: rgb(247, 245, 245);">
    <div style="width: 33%;">
      Project Name: {{project.name}}
    </div>
    <div style="width: 33%;margin-left: 10%;">
      Chances of success: {{project.result}}%
    </div>
    <div style="width: 33%;margin-left: 10%;">
    <button  mat-stroked-button color="primary" (click)="deleteProject(project.id)" >Delete</button>
    </div>
    </mat-expansion-panel-header>
        <div class="details">
        Main category: {{project.main}}
        <br>
        Sub category: {{project.sub}}
        <br>
        Country: {{project.country}}
        <br>
        Currency: {{project.currency}}
        <br>
        Duration: {{project.duration}} days
        <br>
        Goal: {{project.goal}} $
        <br>
        <br>
        </div>
  </mat-expansion-panel>
</mat-accordion>
</div>