<div *ngIf = "(authService.getUser())|async" class="divwelcome">
    Wellcome Back
</div>
<div style="float: right; width: 25%;">
    <button class="modelBut" routerLink="/model" mat-fab color="primary"  *ngIf = "(authService.getUser())|async">go to model</button>
</div>
<div class="divhead">
    On our website we offer forecasting services for Kickstarter projects. 
    <br>
    <br>
    The service is designed to help you get an indication of the percentage of success of your project.Good luck with the venture!
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<img src="assets/homePic.PNG" class= "imgH">
<div class="divAbout">
    <h3>About kickstarte:</h3> 
    <br>
    Kickstarter is an international company that offers mass recruitment services. 
    <br>
    <br>
    Many projects find their breakthrough and succeed in meeting their goal. 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<a style="margin-left: 47%;" href="https://www.kickstarter.com/" target="_blank">Kickstarter website</a>
<br>
<br>
<br>
<div class="title"><h2>Seccseful story</h2></div>
<div>
    <div class="divStory">
        <br>
        <img src="assets/coolest.jpg" class= "storyimg">
        <br>
        <h3>Coolest cooler</h3>
        <br>
        The Coolest Cooler campaign was launched in July 2017. This innovative icebox for the 21st century has an optional built-in blender add-on, built-in Bluetooth speaker, and space to tuck away plates and picnic goodies. The Coolest Cooler goes down as the second most funded Kickstarter campaign of all time at $13.3 million from 62,642 backers! They used good videography, clear images, creative product descriptions, and exciting backer rewards
        <br>
    </div>
    <div class="divStory">
        <br>
        <img src="assets/tainted grail.jpeg" class= "storyimg" style="width: 71%;">
        <br>
        <h3>Tainted Grail: The Fall of Avalon</h3>
        Awaken Realms, who have launched nine successful games on Kickstarter, launched the Tainted Grail campaign in December 2018 and finished with $6.2 million. In late summer 2019, they launched Etherfields, and managed a whopping $4.8 million, creating a total of over $11 million from just two projects!
Talk about some of the best Kickstarter products and Awaken Realms will always find a way into the conversation. The success of their campaigns has hinged on engaging visual stories, exciting product descriptions, and good rewards. They seem to have figured out the recipe for success for top Kickstarter projects.
        <br>
    </div>
    <div class="divStory" style="display: block ;">
        <br>
        <img src="assets/the continent.jpg" class= "storyimg">
        <br>
        <h3>The 7th Continent</h3>
         <br>
        Launched in September 2017, this cooperative game of adventure, exploration, and survival took Kickstarter by storm, with 43,733 buckers pledging $7.1 million to help bring this project to life. The reasons for its success? Great backer rewards, exciting product descriptions, and strong visuals that highlighted different aspects of the game, all of which came together to create another top Kickstarter project.
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="title" style="margin-top: 47%;"><h2>video</h2></div>
<div style="text-align: center; width: 100%;" >
    <iframe style="margin-top: 2%;" width="420" height="345" src="https://www.youtube.com/embed/1KTvNF68LSw">
</iframe>
</div>
<br>
<br>
<br>
