<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="assets/homePic.PNG" class= "center">
<div class="divF">
    hello
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<a style="margin-left: 52%;" routerLink="/aboutus">Learn more</a>
<br>
<br>
<br>
<div>
    <div class="divStory">
        story number 1
    </div>
    <div class="divStory">
        story number 2
    </div>
    <div class="divStory">
        story number 3
    </div>
</div>
<br>
<br>
<br>
<div style="text-align: center;">
    video!!!!!!!!!!!!!!!!!!!!!!!
</div>
