<div *ngIf = "(authService.getUser())|async" class="divwelcome">
    Welcome Back
</div>
<div style="float: right; width: 25%;">
    <button class="modelBut" routerLink="/model" mat-fab color="primary"  *ngIf = "(authService.getUser())|async">Test your <br> project</button>
</div>
<div class="divhead" *ngIf = "(authService.getUser())|async">
    <div style="font-size: x-large;">
    <b>Do you have a venture project that will be the next big thing?
    <br>
    Do you want to get started, but  you're not sure that it'll pan out? You came to the right place!</b>
    </div>
    <br>
    On our website we offer predictive services for venture projects to let you know how successful your kickstart will be.
    <br> 
    Our service predicts the success of the project according to the fulfillment of it's criteria.
    <br>
    So what should you do next?
    <br>
    <b>Click the "Test your project" button</b>
    <br>
    Good Luck!
    <br>
    <br>
</div>
<div class="divhead" *ngIf = "!((authService.getUser())|async)">
    <div style="font-size: x-large;">
    <b>Do you have a venture project that will be the next big thing?
    <br>
    Do you want to get started, but  you're not sure that it'll pan out? You came to the right place!</b>
    </div>
    <br>
    On our website we offer predictive services for venture projects to let you know how successful your kickstart will be.
    <br> 
    Our service predicts the success of the project according to the fulfillment of it's criteria.
    <br>
    So what should you do next?
    <br>
    <b>Click the "Sign Up" button.</b>
    <br>
    Already registered? Excellent, let's get started and examine the successfulness of your project.
    <br>
    Good Luck!
    <br>
    <br>
</div>
<img src="assets/homePic.PNG" class= "imgH">
<div class="divAbout">
    <h3>About kickstarter</h3> 
    Kickstarter is an international company that offers mass recruitment services.
    <br>
    Many people find that they are able to achieve their goals for their kickstart business by using this website. They have found the secrets to becoming successful.
    <br>
    Kickstarter is specifically for creative projects in the following categories: Art, Comics, Crafts, Dance, Design, Fashion, Film & Video, Food, Games, Journalism, Music, Photography, Publishing, Technology, and Theater. Make an album, write a book, create an immersive theater experience, score a film — you name it.
    <br>
    <br>
    If you want to read more: <a href="https://www.kickstarter.com/" target="_blank">Kickstarter website</a>
  
</div>
<br>
<br>
<br>
<div class="title"><h2>Successful stories</h2></div>
<div>
    <div class="divStory">
        <br>
        <img src="assets/coolest.jpg" class= "storyimg">
        <br>
        <h3>Coolest cooler</h3>
        <br>
        The Coolest Cooler campaign was launched in July 2017. This innovative icebox for the 21st century has an optional built-in blender add-on, built-in Bluetooth speaker, and space to tuck away plates and picnic goodies. The Coolest Cooler goes down as the second most funded Kickstarter campaign of all time at $13.3 million from 62,642 backers! They used good videography, clear images, creative product descriptions, and exciting backer rewards
        <br>
    </div>
    <div class="divStory">
        <br>
        <img src="assets/tainted grail.jpeg" class= "storyimg" style="width: 71%;">
        <br>
        <h3>Tainted Grail: The Fall of Avalon</h3>
        Awaken Realms, who have launched nine successful games on Kickstarter, launched the Tainted Grail campaign in December 2018 and finished with $6.2 million. In late summer 2019, they launched Etherfields, and managed a whopping $4.8 million, creating a total of over $11 million from just two projects!
Talk about some of the best Kickstarter products and Awaken Realms will always find a way into the conversation. The success of their campaigns has hinged on engaging visual stories, exciting product descriptions, and good rewards. They seem to have figured out the recipe for success for top Kickstarter projects.
        <br>
    </div>
    <div class="divStory" style="display: block ;">
        <br>
        <img src="assets/the continent.jpg" class= "storyimg">
        <br>
        <h3>The 7th Continent</h3>
         <br>
        Launched in September 2017, this cooperative game of adventure, exploration, and survival took Kickstarter by storm, with 43,733 buckers pledging $7.1 million to help bring this project to life. The reasons for its success? Great backer rewards, exciting product descriptions, and strong visuals that highlighted different aspects of the game, all of which came together to create another top Kickstarter project.
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="title" style="margin-top: 47%;"><h2>video</h2></div>
<div style="text-align: center; width: 100%;" >
    <iframe style="margin-top: 2%;" width="420" height="345" src="https://www.youtube.com/embed/1KTvNF68LSw">
</iframe>
</div>
<br>
<br>
<br>
